{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
  <head>
		<title>Data Job!</title>
		<link rel="stylesheet" href="{% sass_src 'css/styles.scss' %}">
		<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		<header>
			<nav>
				<span>Data Job!</span>
				<img src="{% static 'img/logout.png' %}" />
			</nav>
		</header>
		<section id="login">
			<div class="grid-container">
				<div class="grid-x align-center-middle flex-dir-column">
					<h2 class="cell medium-6">Bienvenido a Data Job!</h2>
					
					<p class="cell medium-6">Por favor complete la siguiente información.</p>

					<fieldset class="cell medium-6 fs">
						<label>* Cargo:</label>
						<select>
							{% for posts in posts%}
							<option value="{{posts}}" label="{{posts}}"></option>
							{% endfor%}
						</select>
					</fieldset>

					<fieldset class="cell medium-6 fs">
						<label>* Profesión:</label>
						<select>
							{% for profesion in profesion%}
							<option value="{{profesion}}" label="{{profesion}}"></option>
							{% endfor%}
						</select>
					</fieldset>

					<a href="http://127.0.0.1:8000/result-person/" class="cell medium-6 btn">Ver Ofertas</a>
				</div>
			</div>
		</section>
  </body>
</html>
